@import '../../styles/index.scss';

.wholeSvg {
    overflow: visible;
    display: block;
    margin-bottom: 5rem;
    margin-top: 1rem;
    width: 65%;
    height: 65%;
    margin-left: 12%;
}
